*.class
*.swp

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# use symlink to point NiFi binaries
docs
lib

# NiFi batch files for Windows
bin/dump-nifi.bat
bin/nifi-env.bat
bin/run-nifi.bat
bin/status-nifi.bat


# NiFi data dirs
database_repository
flowfile_repository
provenance_repository
state
logs
work
